@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="nextAvailableStartDateDiv">
    <p>Find the next available start date for a centre (complete string match only) as a general user (not for admins). Input is case-sensitive.</p>
    <input type="text" id="CentreName" name="CentreName" placeholder="Centre Name" />
    <button onclick="searchCentres()">Search</button>
</div>

<div class="date"></div>

<script>
    function searchCentres() 
    {
        $.ajax(
            {
                url: '/home/nextavailablestartdate/?centrename=' + $('#CentreName').val(),
                type: 'get',
                contentType: 'application/json',
                processData: false,
                success: function (data, textStatus, jQxhr) 
                {
                    $(".date").html(data);
                },
                error: function (jqXhr, textStatus, errorThrown) 
                {
                    alert("Error! You may not be a general user.");
                    console.log(errorThrown);
                }
            })
    }
</script>