@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="searchBookingsDiv">
    <p>Search for bookings for a given centre (complete string match only) as an admin (not for general users). Input is case-sensitive.</p>
    <input type="text" id="CentreName" name="CentreName" placeholder="Centre Name" />
    <button onclick="searchBookings()">Search</button>
</div>

<script>
    function searchBookings() 
    {
        $.ajax(
            {
                url: '/home/searchbookings/?centrename=' + $('#CentreName').val(),
                type: 'get',
                contentType: 'application/json',
                processData: false,
                success: function (data, textStatus, jQxhr) 
                {
                    $(".content").html(data);
                },
                error: function (jqXhr, textStatus, errorThrown) 
                {
                    alert("Error! You may not be an admin or we cannot find your centre.");
                    console.log(errorThrown);
                }
            })
    }
</script>